@model Nop.Plugin.Misc.GroupDeals.ViewModels.GroupDealViewModel
@{
    Layout = "_AdminLayout";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "product-form", area = "Admin", controller = "Groupdeals", action = "Create" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            Add A New Groupdeal @Html.ActionLink("(Back to group deals list)", "Index", null, new { area = "Admin" })
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}